:root {
    --ten: 10px;
    --grey: rgba(197, 196, 196, 0.829);
}
body {
    padding: var(--ten);
    font-family: 'Trebuchet MS';
}

.quiz {
    border: solid var(--grey) 1px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(160, 186, 235);
}

.submit,.saved-scores, button {
    margin-top: var(--ten);
}

.reveal, .message{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: green;
}

.message {
    color: black;
}

.current-scores > * {
    display: inline-block;
    margin-left: var(--ten);
}

.saved-scores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.score-card {
    border: solid var(--grey) 1px;
    min-width: 10%;
    padding: var(--ten);
}

.local-scores {
    display: flex;
}

.local-title {
    position: relative;
    bottom: 40px;
}